.what_we_do_section{
    padding-top: 40px;
    padding-bottom: 55px;
    background-color: tan;
}
.what_we_do_header_inner{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.what_we_do_header{
    text-align: center;
    margin-left: -15;
    margin-right: -15;
}
.what_we_do_header-subheader{
    color: rgb(235, 109, 47);
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 14px;
    margin: 0px;
    text-align: center;
}
.what_we_do_header-main{
    color: rgb(90, 55, 51);
    font-size: 38px;
    font-stretch: 100%;
    font-weight: 700;
    margin: 0px;
    text-align: center;
    line-height: 47.5px;
}
.what_we_do_header-text{
    color: rgb(65, 57, 57);
    font-size: 18px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
}
.what_we_do_header_line-container{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    line-height: 27.2px;
    position: relative;
    vertical-align: baseline;
}
.what_we_do_header_line{
    height:4px;
    width:10%;
    background-color:#eb6d2f;
    border-color: rgb(90, 55, 51);
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.what_we_do_content{
    margin-top: 45px;
}
.what_we_do_content-card{
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    vertical-align: baseline;
    width: ;
    display: block;
}
.what_we_do_content_inner{
    background-color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 31px;
    padding-bottom: 31px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    vertical-align: baseline;
    position: relative;
    font-weight: 400;
}
.what_we_do_icon_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: baseline;
}
.what_we_do_card-name{
    color: rgb(90, 55, 51);
    font-size: 23px;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 32.2px;
    text-align: center;
    vertical-align: baseline;
    margin-top: 20px;
}
.what_we_do_card-text{
    margin-top: 15px;
    color: rgb(65, 57, 57);
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;
    vertical-align: baseline;
}
.what_we_do_anchor_container{
    margin-top: 26px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;
    vertical-align: baseline;
}
.what_we_do_anchor_text{
    color: rgb(255, 216, 50);
}
